body {
  margin: 0;
  padding: 0;
}

menu {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px;
  background-image: url(quantum_gettyimages-807324710.jpg);
  background-size: cover;
}

@media only screen and (max-width: 1100px) {
  menu {
    padding: 20px;
  }
}

menu ul {
  list-style-type: none;
  margin-right: 20px;
}

menu ul li:hover {
  color: #13049b;
  background-color: #fff;
  cursor: pointer;
}

menu ul li {
  float: left;
  width: 120px;
  height: 100px;
  margin: 0 20px 10px 0;
  padding: 10px 0 0 0;
  font-size: 20px;
  border: groove;
  border-radius: 10px;
  text-align: center;
  color: white;
  background-color: #524848;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

menu ul li div {
  padding: 0 0 5px 0;
}

main {
  background-color: #eee6d9;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main ul {
  list-style-type: none;
}

main ul li {
  float: left;
  width: 40vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: #524848 solid;
  text-align: center;
  padding: 30px 0 0 0;
  margin: 10px 0 0 0;
  border-radius: 10px;
}

@media only screen and (max-width: 820px) {
  main ul li {
    float: left;
    width: 80vw;
  }
}

main ul li ul {
  margin: 0 0 25px 0;
}

main ul li ul li {
  width: 100%;
  text-align: left;
  border: none;
  margin: 0;
  padding: 5px 0 10px 0;
}

main ul li img {
  width: 80%;
}

main ul div {
  border: solid #524848;
  border-radius: 17px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: right;
  width: 40%;
  margin: 8% 10px 0 0;
  text-align: center;
  padding: 3%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 30px;
}

@media only screen and (max-width: 820px) {
  main ul div {
    float: left;
    width: 80vw;
  }
}

.tananyag {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tananyag h3 {
  font-size: 3em;
  font-family: cursive, Geneva, Tahoma, sans-serif;
  margin-top: 0;
}

.tananyag ul {
  list-style-type: none;
}

.tananyag ul :nth-child(2) {
  background-image: url(figure821.loop.gif);
  background-size: 100%;
}

.tananyag ul :nth-child(3) div {
  width: 250px;
  height: 65%;
  background-image: url(accelerate.gif);
  background-size: 100%;
  margin: 20px 0 0 0;
}

.tananyag ul :nth-child(4) div {
  width: 250px;
  height: 55%;
  background-image: url(electricity.gif);
  background-size: 100%;
  margin: 30px 0 0 0;
}

.tananyag ul li {
  font-family: cursive, Geneva, Tahoma, sans-serif;
  float: left;
  border: solid black;
  border-radius: 15px 15px 10px 10px;
  width: 250px;
  height: 250px;
  text-align: center;
  font-size: 2em;
  margin: 0 5% 5% 5%;
  padding: 5px;
}

.tananyag ul li:hover {
  border-radius: 25px;
  border-color: #574949;
  color: blue;
  cursor: pointer;
}

.tankonyvek {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tankonyvek h3 {
  font-size: 3em;
  font-family: cursive, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.tankonyvek ul {
  list-style-type: none;
}

.tankonyvek ul li {
  float: left;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 5% 5% 5%;
}

.tankonyvek ul li img {
  width: 100%;
}

.galeria {
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.galeria ul {
  list-style-type: none;
}

.galeria ul h3 {
  font-size: 3em;
  font-family: cursive, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.galeria ul li {
  float: left;
  width: 300px;
  height: 300px;
  margin: 10px 3% 5% 5%;
}

@media only screen and (max-width: 1120px) {
  .galeria ul li {
    width: 150px;
    height: 150px;
  }
}

.galeria ul li img {
  width: 100%;
  border-radius: 10px;
  border: solid #867c7c;
}

.feladatok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
  border: solid;
  background-image: url(image.jpg);
}

.feladatok ul {
  width: 100%;
}

.feladatok ul h3 {
  font-size: 3em;
  font-family: cursive, Geneva, Tahoma, sans-serif;
  margin: 10px;
  background-color: rgba(112, 89, 89, 0.8);
  color: white;
}

.feladatok ul ul {
  float: left;
  list-style-type: none;
  font-family: cursive, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  margin: 3% 3% 3% 3%;
  color: #fff;
  font-size: 3em;
  background-color: rgba(131, 124, 124, 0.75);
}

.feladatok ul ul li {
  display: none;
  font-size: 28px;
  margin-top: 2%;
}

.feladatok ul ul:hover {
  cursor: pointer;
}

.feladatok ul ul:hover li {
  display: list-item;
  top: 0%;
  position: relative;
}
/*# sourceMappingURL=Style.css.map */